<main class="container">
  <h3 class="frete">Frete grátis para todo o Brasil</h3>


  <section class="banner">

    <section class="banner-text">
      <div>
        <img src="../assets/logo.png">
      </div>
  
      <h2 class="my">A melhor loja de Jordan</h2>
  
      <p>
        O tênis Jordan é fruto de uma velha e forte parceria entre a Nike e o jogador Michael Jordan
      </p>
    </section>
    
  </section>


  <section class="text-melhores">
    <h2>Os melhores em só lugar</h2>
    <p>A marca Jordan na JordanShoes é a escolha certa para os amantes de sneakers que buscam estilo e conforto.</p>
  </section>


  <section class="gallery">
    <div class="card" *ngFor="let item of list; let i=index">

      <img src="../assets/{{item.image}}"/>
      <h4>{{item.title}}</h4>
      <span>{{item.marca}}</span>
      <span>{{item.preco}}</span>
    </div>

  </section>
</main>